WEBSITE_DB.Driver=@WEBSITE_DB.Driver@
WEBSITE_DB.Url=@WEBSITE_DB.Url@
WEBSITE_DB.User=@WEBSITE_DB.User@
WEBSITE_DB.Password=@WEBSITE_DB.Password@

hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
hibernate.show_sql=false
hibernate.hbm2ddl.auto=create-drop

CORPORATE_WEBSITE_READONLY_CONNECTION_ISOLATION_LEVEL=@CORPORATE_WEBSITE_READONLY_CONNECTION_ISOLATION_LEVEL@
CORPORATE_WEBSITE_DB_CONNECTION_ISOLATION_LEVEL=@CORPORATE_WEBSITE_DB_CONNECTION_ISOLATION_LEVEL@
CORPORATE_WEBSITE_DEFAULT_CONNECTION_ISOLATION_LEVEL=@CORPORATE_WEBSITE_DEFAULT_CONNECTION_ISOLATION_LEVEL@
CORPORATE_WEBSITE_BATCH_INSERT_ISOLATION_LEVEL=@CORPORATE_WEBSITE_BATCH_INSERT_ISOLATION_LEVEL@


