<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>corporate_website</display-name>
	<description>Zillious Corporate Website</description>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:securityContext.xml,classpath:spring-multipart-context.xml</param-value>
	</context-param>
	
	<!-- Spring Security -->
	<filter>
		<filter-name>MultipartFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
		<filter-name>CacheControlFilter</filter-name>
		<filter-class>com.zillious.corporate_website.ui.filter.CacheControlFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.zillious.corporate_website.ui.filter.SecurityFilter</filter-class>
	</filter>
	<filter>
		<filter-name>GeoLocateFilter</filter-name>
		<filter-class>com.zillious.corporate_website.ui.filter.GeoLocateFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>/static/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/nav/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GeoLocateFilter</filter-name>
		<url-pattern>/nav/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
        <filter-name>MultipartFilter</filter-name>
        <url-pattern>/portal/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/portal/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>websiteNav</servlet-name>
		<servlet-class>com.zillious.corporate_website.ui.navigation.WebsiteNavigation</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AttendanceNavigation</servlet-name>
		<servlet-class>com.zillious.corporate_website.ui.navigation.AttendanceNavigation</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>PortalServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-servlet.xml</param-value>
        </init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>AttendanceNavigation</servlet-name>
		<url-pattern>/attn/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AttendanceNavigation</servlet-name>
		<url-pattern>/attn/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>websiteNav</servlet-name>
		<url-pattern>/nav/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>websiteNav</servlet-name>
		<url-pattern>/nav/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortalServlet</servlet-name>
		<url-pattern>/portal/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortalServlet</servlet-name>
		<url-pattern>/portal/*</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>inc</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>

	<error-page>
		<error-code>300</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>301</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>302</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>303</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>304</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>305</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>306</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>307</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>416</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>417</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.html</location>
	</error-page>

	<!-- Disable HTTP method other than POST GET HEAD -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restricted methods</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>TRACE</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
</web-app>
